.sign-up-container {
  background-image: url("../../../assets/images/bgLogin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__home-icon{
    color: #fff;
    position: absolute;
    top: 15px;
    left: 30px;
    cursor: pointer;
    .icon{
        font-size: 50px;
    }
  }
  &__content {
      width: 30vw;
      height: fit-content;
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: #f6fbf9;
      box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.3);
      Form{
        width: 75%;
        display: flex;
        flex-direction: column;
      }
      h1 {
          color: #306954;
          font-weight: 800;
      }
      &__item {
          padding: 4px 10px;
          margin: 15px 0;
          border-bottom: 1px solid #dbdbdb;
          position: relative;
          display: flex;
          align-items: center;
          position: relative;
          .ant-form-item {
              width: 100%;
              margin: 0;
          }
          .input {
              padding-left: 20px;
              border: none;
              background-color: transparent;
              color: #757575;
          }
          .input:focus,
          input:focus {
              outline: none;
          }
          input {
              width: 85%;
              border: none;
              background-color: transparent;
          }
          .ant-form-item-explain-error {
              position: absolute;
              top: 120%;
              left: 44px;
              color: red;
          }
          .select-box{
            border: none;
            background-color: transparent;
            margin-left: 15px;
            margin-right: auto;
            width: 100%;
            outline: none;
          }
      }
      .active {
          border-bottom: 2px solid #84c7ae;
          .icon {
              color: #84c7ae;
              font-weight: 600;
          }
      }
  }
  .blue {
      color: #84c7ae;
  }
  label {
      cursor: pointer;
      color: #757575;
      font-size: 14px;
      margin-left: auto;
  }
  a:hover,
  label:hover {
      color: #84c7ae;
  }
  a {
      text-decoration: none;
      cursor: pointer;
      color: #757575;
      font-size: 16px;
      text-align: center;
      margin: auto;
  }
  .btn-submit {
      width: 100%;
      padding: 10px 0;
      border-radius: 20px;
      border: none;
      font-weight: 600;
      letter-spacing: 1px;
      background-color: #84c7ae;
      transition: all 0.5s ease;
      height: fit-content;
      span {
          color: #fff;
      }
  }

  .btn-submit:hover {
      box-shadow: 0 0 15px rgba($color: #0b628e, $alpha: 0.5);
      span {
          color: #fff !important;
      }
  }
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  box-shadow: none !important;
}
.ant-input {
  width: 100% !important;
}
.ant-input:focus,
.ant-input:not(:hover) {
  box-shadow: none !important;
}
.ant-input:not(:hover) {
  box-shadow: none !important;
}
.ant-input-suffix{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

