$primary_dark: #098edf;
$hover: #f6f6f6;
$basic-color: #489d7e;

@mixin text-style($fontW, $fontS, $lineH, $letterS) {
  font-weight: $fontW;
  font-size: $fontS !important;
  line-height: $lineH;
  letter-spacing: $letterS;
}

@mixin flex($alignItem, $justifyContent: false) {
  display: flex;

  @if $justifyContent {
    justify-content: $justifyContent;
  }

  align-items: $alignItem;
}

@mixin setSizeBox($w, $h) {
  width: $w;
  height: $h;
}

.SideMenu {
  & .logo {
    width: 100%;

    & .img {
      @include setSizeBox(208px, 64px);
      margin: 24px;
    }
  }

  & .list {
    width: 100%;
    max-width: 360;
    padding-left: 8px;
    text-decoration: none;

    & .link {
      @include flex(center, center);
      @include setSizeBox(100%, 100%);
      text-decoration: none !important;
      color: #000000;
    }


    & .ListItemIcon {
      min-width: 25px;
      padding-left: 16px;

      svg {
        width: 21px;
        fill: #90a0b7;
      }
    }

    & .active {
      color: $basic-color !important;

      svg {
        fill: $basic-color !important;
      }
    }

    & .MenuItem {
      padding: 0;
      height: 50px;
    }

    & .linkSub {
      @include flex(center);
      text-decoration: none;
      @include setSizeBox(100%, 100%);
      padding-left: 53px;

      & .listItemButton {
        color: $basic-color;

        span {
          @include text-style(300, 14px, 20px, 0.25px);
        }
      }

      & .iconData {
        @include flex(center);
        @include setSizeBox(10px, 10px);
        margin-right: 8px;

        svg {
          @include setSizeBox(10px, 10px);
          color: $basic-color;
        }
      }
    }

    & .ListItemSub {
      @include flex(center);
      padding: 0;
      height: 50px;

      &:hover {
        background-color: $hover;
      }
    }

    & .ListIcon {
      @include flex(center);
      margin-right: 16px;

      & svg {
        fill: #000000;
      }
    }

    & .subActive {
      color: $basic-color !important;
    }

    & .ListText {
      text-align: center;
      padding-top: 3px;
      padding-left: 15px;

      & span {
        @include text-style(400, 14px, 20px, 0.1px);
        text-align: start;
      }
    }
  }

  & .footer {
    @include flex(center, center);
    position: fixed;
    bottom: 22px;
    left: 27px;
    display: flex;
    justify-content: center;
    color: #000000;

    & .text {
      @include flex(center);
      @include text-style(500, 11px, 16px, 0.01em);
      padding-left: 14px;
    }

    & .IconToggle {
      width: 21px;
      fill: #000000;
    }
  }
}
