body {
    background-color: #fafafa;
}
.post-container {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 0;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    gap: 15px;
    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__action {
            border-top: 1px solid #d0d0d0;
            border-bottom: 1px solid #d0d0d0;
            display: flex;
            p {
                font-weight: 600;
                color: #65676b;
                margin: 7px 0 !important;
            }
            .col-4 {
                text-align: center;
                cursor: pointer;
                border-radius: 5px;
                margin: 2px 0;
                position: relative;
            }
            .col-4:hover {
                background-color: #f0f2f5;
            }
            .txt-blue {
                p,.icon{
                    color: #38b3ef;
                }
            }
            .icon{
                font-size: 16px;
                margin: auto 0;
                margin-right: 3px;
                color: #65676b;
            }
        }
        &__comment {
            display: flex;
            img {
                width: 40px;
                height: 40px;
            }    
            .comment{
                background-color: #f0f2f5;
                border-radius: 20px;
                padding: 5px 10px;
                margin: auto 0;
                width: 92%;
                margin-left: auto;
            }        
            .textarea {
                height: fit-content;
                outline: none;
                background-color: transparent;
            }
            .textarea:hover {
                border: none !important;
            }
            .ant-input:focus,
            .ant-input:not(:hover) {
                box-shadow: none !important;
                border: none !important;
            }
        }
        .more-comment{
            font-size: 14px;
            font-weight: 600;
            color: #65676b;
        }
        .more-comment:hover{
            text-decoration: underline;
            
        }
    }
    &__list-images {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dbdbdb;
        img {
            max-height: 650px;
        }
        &__btn-prev {
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            border-radius: 50%;
            img {
                height: 35px;
            }
        }
        &__btn-next {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            border-radius: 50%;
            img {
                height: 35px;
            }
        }
    }

    .post-content {
        opacity: 1;
    }

    .post-overlay {
        display: none;
    }

    &.is-hidden {
        position: relative;
        .post-content {
            opacity: 0.1;
        }
        .post-overlay {
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($color: #000000, $alpha: 0.4);
            cursor: pointer;

            &__message {
                font-size: 20px;
                color: #ffffff;
            }

            &__button {
                border: none;
                border-radius: 2px;
                outline: none;
                padding: 5px 10px;
                color: #65676b;
                background: #ffffff;
            }
        }
    }
}
.slick-track {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.underline:hover{
    text-decoration: underline;
    cursor: pointer;
}
.ant-tooltip-inner{
    border-radius: 10px !important;
}
