.info-container{
    background-color: #fff;
    padding: 20px 100px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    img{
        height: 35px;
        width: 35px;
    }
    p{
        font-weight: 600;
        color: #555;
    }
}